/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LAYOUT */
.admin-wrapper {
  display: flex;
  min-height: 100vh;
  background: #f4f6f8;
}

/* SIDEBAR */
.sidebar {
  width: 280px;
  background: #ffffff;
  padding: 20px;
  border-right: 1px solid #ddd;
  transition: left 0.3s ease;
}

.sidebar-title {
  text-align: center;
  color: #ff0066;
  margin-bottom: 30px;
}

/* LINKS */
.nav-links {
  list-style: none;
}

.nav-links li {
  margin-bottom: 15px;
}

.nav-links a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333;
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s;
}

.nav-links a:hover {
  background: #f1f1f1;
}

/* MAIN CONTENT */
.main-content {
  flex: 1;
  padding: 20px;
}

/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.menu-btn {
  font-size: 22px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.topbar-right {
  display: none;
  align-items: center;
  gap: 15px;
  border: 1px solid red;
}

.logout-btn {
  border: 1px solid #dc3545;
  background: transparent;
  color: #dc3545;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* OVERLAY */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

/* MOBILE */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -280px;
    height: 100%;
    z-index: 1000;
  }

  .sidebar.open {
    left: 0;
  }
}
   

/* adminorder css */

/* MOBILE ORDER CARD */
.order-card {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-size: 14px;
}

.order-card div {
  margin-bottom: 6px;
}
